<div class="grid">
    <div class="columns">
        <mat-card *ngIf="order">
            <mat-card-header>
                <mat-card-title>Order summary</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <span>Order number: {{order.orderID}}</span><br>
                <span>Ordered the {{order.orderDate}}</span><br>
                <span>Products ordered: {{order.products.length}}</span><br>
                <div class="prices-info">
                    <span>Item(s) Subtotal: {{subtotalPrice.toFixed(2)}} $</span><br>
                    <span>Shipping & Handling: {{shippingPrice.toFixed(2)}} $</span><br>
                    <span>Total before tax: {{totalBeforeTax.toFixed(2)}} $</span><br>
                    <span>Estimated tax to be collected: {{estimatedTax.toFixed(2)}} $</span><br>
                    <span class="grand-total">Grand Total: {{grandTotal.toFixed(2)}} $</span><br>
                </div>
            </mat-card-content>
        </mat-card>
        
        <mat-card *ngIf="user">
            <mat-card-header>
                <mat-card-title>Address</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <span>{{user.firstName}} {{user.lastName}}</span><br>
                <span>{{user.streetddress}}</span><br>
                <span>{{user.townAddress}} {{user.zipCode}}</span><br>
                <span>{{user.country}}</span>
            </mat-card-content>
        </mat-card>
        
        <mat-card *ngIf="products">
            <mat-card-header>
                <mat-card-title>Products</mat-card-title>
            </mat-card-header>
            <mat-card-content *ngFor="let product of products" class="product">
                <div class="img-wrapper">
                    <img mat-card-image src={{product.primaryImageSmall}}><br>
                </div>
                
                <div class="museum-label">
                    <span class="artist">{{product.artistDisplayName}}</span><br>
                    <span class="title">{{product.title}}</span><br>
                </div>
                <span class="price">{{product.price}} $</span>
            </mat-card-content>
        </mat-card>
    </div>
</div>